<p> Here are some products available for you to see: </p>

<% if (products.length > 0) {%>
      	<% products.forEach((product, index) => { %>
			<product><form action="/catalog/add" method="post" >
					<input type="hidden" name="product_id" value=<%= product.product_id %> > 
					<table>
                    <tr><td><%= product.productname %></td>
						<td><%= product.productimage %></td></tr>
 			                   <tr><td><%= product.saleprice %></td>
						<td><%= product.status %></td></tr>
						<tr><td>Quantity: <input type="number" name="qty" required></td>
						<td><button type="submit">Add to Cart</button></td></tr>
					</table></form></product>
        <% }); %>
<% } else { %>
        <p>No Products</p>
<% } %>
