<table>
        <tr>
			<td><%= product.productname %></td>
			<td><%= product.product_id %></td>
		</tr>
        <tr>
			<td><%= product.productimage %></td>
			<td><%= product.status %></td>
		</tr>
		<tr>
			<td><%= product.saleprice %></td>
			<td><b>Add To Cart</b></td>
        </tr>
</table>